node-red-flow.json
[{"id":"97b6e06f.bd8c9","type":"function","z":"7be7d0cf.e1f3b8","name":"decode","func":"var x = msg.payload;\nvar sock = x.substring(5,6);\nvar act = x.substring(11.12);\nif (sock == \"A\")\n{\n    sock = \"ALL\";\n}\nif (act == \"0\")\n{\n    act = \"OFF\";\n}\nelse\n{\n    act = \"ON\";\n}\nmsg.payload = \"/home/common/python/energenie/sock\" + sock + act + \".py\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":200,"wires":[["66b9e068.d700e4","232eeea1.0fe27a"]]},{"id":"3b2f351d.38221a","type":"mqtt in","z":"7be7d0cf.e1f3b8","name":"getPlugControl","topic":"topic/plug","qos":"2","broker":"77f1f0a9.27be28","x":120,"y":200,"wires":[["97b6e06f.bd8c9"]]},{"id":"66b9e068.d700e4","type":"debug","z":"7be7d0cf.e1f3b8","name":"","active":true,"console":"false","complete":"false","x":510,"y":60,"wires":[]},{"id":"232eeea1.0fe27a","type":"exec","z":"7be7d0cf.e1f3b8","command":"/usr/bin/python","addpay":true,"append":"","useSpawn":"","timer":"","name":"execCommand","x":500,"y":200,"wires":[["2172139b.929524"],["e6e3945b.6da57"],["85891be5.3f5ec"]]},{"id":"2172139b.929524","type":"debug","z":"7be7d0cf.e1f3b8","name":"","active":true,"console":"false","complete":"payload","x":710,"y":140,"wires":[]},{"id":"e6e3945b.6da57","type":"debug","z":"7be7d0cf.e1f3b8","name":"","active":true,"console":"false","complete":"false","x":710,"y":200,"wires":[]},{"id":"85891be5.3f5ec","type":"debug","z":"7be7d0cf.e1f3b8","name":"","active":true,"console":"false","complete":"false","x":710,"y":260,"wires":[]},{"id":"9a6d6014.5392d","type":"function","z":"7be7d0cf.e1f3b8","name":"","func":"msg.payload = \"/home/common/python/energenie/sock4ON.py\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["232eeea1.0fe27a"]]},{"id":"5f768e6f.67282","type":"function","z":"7be7d0cf.e1f3b8","name":"","func":"msg.payload = \"/home/common/python/energenie/sock4OFF.py\"\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["232eeea1.0fe27a"]]},{"id":"2e238b31.757a88","type":"inject","z":"7be7d0cf.e1f3b8","name":"sock4ON","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":280,"wires":[["9a6d6014.5392d"]]},{"id":"9cf9bafc.a41c18","type":"inject","z":"7be7d0cf.e1f3b8","name":"sock4OFF","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["5f768e6f.67282"]]},{"id":"77f1f0a9.27be28","type":"mqtt-broker","z":"","broker":"10.0.0.52","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]